.cover-text{
	font-size:48px;
	font-weight:400;
	text-shadow: 0 0 10px #0085a1;
}

.img-cover{
	background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.grey-text{
	color:#777;
	font-size:0.9em;
}

.h-property-card{
	clear:both;
	margin:10px 0;
}
.h-property-card img{
	object-fit: cover;
	float:left;
	width:40%;
	margin-right:8%;
	height:76px;
}

.v-property-card {

	margin:10px 0;
}
.v-property-card img{
	object-fit: cover;
	width:100%;
	height:200px;
}
.copyright-links a:first-child{
	margin:0px 10px 0px 0px !important; 
}

.copyright-links a{
	margin:10px;
}

.widget_links li{
	padding: 4px;
}